body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
  background-color: rgba(25,34,45,1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 700px;
  gap: 20px;
}

.image-area {
  position: relative;
  width: 220px;
  height: auto;
}

.image-area img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

#deviceImage {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
  z-index: 1;
}

#baseImage {
  z-index: 0;
}

.controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

select {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 6px;
  background: linear-gradient(to right, rgba(113,180,251,1), rgba(188,220,255,1));
  color: #19222d;
  font-weight: bold;
}

.price {
  color: white;
  font-size: 1.8em;
  font-weight: bold;
}

.description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1em;
  background-color: rgba(255,255,0,0.1); /* lekko żółte tło */
  padding: 10px;
  border-radius: 8px;
}